h1 {
  margin: 0 auto;
  text-align: center;
  padding: 15px;
}

.counter {
  width: 100%;
  height: 100%;
  font-size: 17px;
  font-weight: 600;
}

.couter-nmb {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 30px;
  font-size: 25px;
}

.buttons {
  margin: 0 auto;
  text-align: center;
}

.inc-btn {
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 1px;
  margin: 0 15px 15px 0;
  outline: none;
  border: 1px solid green;
  border-radius: 25px;
  height: 46px;
  line-height: 0;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  color: #fff;
  background-color: #fff;
  position: relative;
  overflow: hidden;
  vertical-align: top;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
}
.inc-btn span {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 25px;
  height: 42px;
  line-height: 38px;
  border: 1px solid green;
  border-radius: 25px;
  font-size: 14px;
  color: #FFFFFF;
  background: green;
  text-align: center;
  font-weight: 600;
}
.inc-btn:hover span {
  background-color: #00b503;
  color: black;
}

.dec-btn {
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 1px;
  margin: 0 15px 15px 0;
  outline: none;
  border: 1px solid rgb(226, 226, 1);
  border-radius: 25px;
  height: 46px;
  line-height: 0;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  color: #fff;
  background-color: #fff;
  position: relative;
  overflow: hidden;
  vertical-align: top;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
}
.dec-btn span {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 25px;
  height: 42px;
  line-height: 38px;
  border: 1px solid rgb(226, 226, 1);
  border-radius: 25px;
  font-size: 14px;
  color: #FFFFFF;
  background: rgb(226, 226, 1);
  text-align: center;
  font-weight: 600;
}
.dec-btn:hover span {
  background-color: yellow;
  color: black;
}

.clr-btn {
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 1px;
  margin: 0 15px 15px 0;
  outline: none;
  border: 1px solid rgb(187, 0, 0);
  border-radius: 25px;
  height: 46px;
  line-height: 0;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  color: #fff;
  background-color: #fff;
  position: relative;
  overflow: hidden;
  vertical-align: top;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
}
.clr-btn span {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 25px;
  height: 42px;
  line-height: 38px;
  border: 1px solid rgb(187, 0, 0);
  border-radius: 25px;
  font-size: 14px;
  color: #FFFFFF;
  background: rgb(187, 0, 0);
  text-align: center;
  font-weight: 600;
}
.clr-btn:hover span {
  background-color: red;
  color: black;
}